* {
  background-color: black;
}

h1 {
  color: white;
}

img{
  height: 30px;
  width: 30px;
}

.contenedor {
  text-align: center;
}

.div-coins-padre {
  display: flex;
  justify-content: center;
}
.div-coin {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  color: white;
  border: 0.5px solid pink;
  width: 80%;
  align-items: center;
}

